html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 360px;
    margin-top:90px
}
table{
    border:2px solid black;
}
body{
    background-color: #abf5f5;
}
#addToDo{
    background-color: #38f23d;
    width:30%;
    margin-left: 90px;
}
#deleteId{
    background-color:#ed0c48;
}
#editId{
    background-color:#0accf7
    ;
}